@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

/* Login */
.auth-nav {
    display: flex;
    position: absolute;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.2),
        transparent
    );
    z-index: 10;
}

.auth-nav a {
    padding: 0.7rem 2rem 0.7rem 2rem;
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: black;
}

.login-body,
.register-body {
    height: 100vh;
    display: flex;
    position: relative;
    background: url("../assets/login.jpg") no-repeat center center;
    background-size: cover;

    justify-content: center;
    align-items: center;
}

.login-card,
.register-card {
    width: 400px;
    padding: 2.5rem;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-logo,
.register-logo {
    width: 80px;
    margin-bottom: 1rem;
}

.login-card h3,
.register-card h3 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 1.5rem;
}

.login-card p,
.register-card p {
    margin-bottom: 8px;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.login-card button,
.register-card button {
    width: 100%;
    padding: 0.8rem;
    border-radius: 8px;
    background-color: #334155;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
    color: white;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.login-card button:hover {
    transform: translateY(-2px);
}
/* Login End */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 80px;
    background-color: #0d6efd;
    height: 65px;
}

.navbar a {
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px 30px 40px;
    flex-direction: column;
}

.container-content .garis {
    width: 100%;
    background-color: black;
    height: 1px;
    margin-top: 20px;
}

.task-activity {
    display: flex;
    gap: 12rem;
    margin: 20px 0 20px 0;
}

.task-item {
    background-color: yellow;
    padding: 15px;
}

.task-add-button {
    display: flex;
}

.btn-add {
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}

.task-lists {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-lists .card {
    margin: 15px 0 15px 0;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 9999;
}

.divider {
    width: 1px;
    background-color: black;
    align-self: stretch;
}
